<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" href="/css/style.css" media="screen" />
    <meta charset="UTF-8"/>
    <title>Message List</title>
</head>
<body>
<h1> Hello <span th:utext="${userid}"></span> !</h1>
<hr/>
<a href="/webapi/messageList">Check new messages</a><br/>
<table style="border: solid">
    <tr>
        <th>From</th>
        <th>Date</th>
        <th>Message</th>
    </tr>
    <tr th:each="message : ${messages}">
        <td th:text="${message.fromUserId}"></td>
        <td th:text="${#dates.format(new java.util.Date(message.timestamp))}"></td>
        <td th:text="${message.plainTextMessage}"></td>
    </tr>
</table>

<hr/>
<div>
<form action="/webapi/sendMessage" method="post">
    <label for="recipientId">To</label>
    <input type="text" id="recipientId" name="recipientId" value="" placeholder="Your friend´s id, must be an existing user" autofocus="autofocus"/><br/>
    <label for="message">Your message</label><br/>
    <textarea id="message" name="message" placeholder="Maximum length 255 characters, no HTML allowed"></textarea><br/>
    <input type="submit" value="send"/>
</form>
</div>

<hr/>

<form action="/webapi/logout">
    <input style="background-color: #f44336" type="submit" value="Logout" />
</form>

</body>
</html>