<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" href="/css/style.css" />
    <meta charset="UTF-8"/>
<title>Complete password reset</title>
</head>
<body>
<ul class="nav">
    <li class="nav"><a class="nav" href="/index.html">Home</a></li>
    <li class="nav"><a class="nav" href="/register.html">Register</a></li>
</ul><br/>

Set the new password for <span th:utext="${userid}"></span>:
<form action="/webapi/passwordReset" method="post">
    <input type="hidden" id="username" name="username" th:value="${userid}"/>
    <label for="secretAnswer"><span th:utext="${secretquestion}"></span>?</label>
    <input type="password" id="secretAnswer" name="secretAnswer" value="" placeholder="Your secret answer" autofocus="autofocus"/><br/>
    <label for="password">New password</label>
    <input type="password" id="password" name="password" value=""/><br/>
    <label for="password2">Repeat new password</label>
    <input type="password" id="password2" name="password2" value=""/><br/>
<input type="submit"/><br/>
</form>
</body>
</html>